body {
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    background-color: #ffffff;
    color: #434455;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* ========= header ========= */

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    background: #ffffff;
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navi {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.heder-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    margin-left: 156px;
}

.header-logo-accent {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-link {
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-menu-item {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-menu-item :hover,
.header-menu-item :focus {
    color: #404bbf;
}

.header-list {
    display: flex;
    gap: 40px;
}

.address-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

.header-address {
    font-style: normal;
    margin-left: auto;
}

.header-list-item :hover,
.header-list-item :focus {
    color: #404bbf;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*===== slogan =====*/

.slogan {
    background-color: #2e2f42;
    padding: 188px 0;
}

.slogan-container {
    background-color: #2e2f42;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-image: url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slogan-text {
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin-bottom: 48px;
    padding: 188px 316px 0px 316x;
}

.order-btn {
    display: block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4d5ae5;
    cursor: pointer;
    padding: 16px 32px;
    text-align: center;
    border-radius: 4px;
    border: none;
    min-width: 169px;
}

.order-btn:hover,
.order-btn:focus {
    background-color: #404bbf;
}

/*===== solution =====*/

.solution {
    background: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.solution-menu {
    display: flex;
    gap: 24px;
}

.solution-list {
    width: calc((100% - 72px) / 4);
}

.solution-list-item {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.solution-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*===== team =====*/

.team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f4f4fd;
}

.team-title {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    width: calc((100% - 24px * 3) / 4);
}

.team-list-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    /* width: calc(100%-24 * 3) / 4; */
}

.team-img {
    margin-bottom: 36px;
}

.team-card {
    padding: 32px 0;
}

.team-list-name {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}

.team-list-skill {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/*===== portfolio =====*/

.portfolio {
    background-color: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.digest-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.digest-item {
    width: calc((100% - 24px * 2) / 3);
}

.digest-list {
    border: 1px solid #e7e9fc;
    background: var(--WHITE, #fff);
    text-align: center;
}

.portfolio-img {
    margin-bottom: 32px;
}

.digest-product {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.digest-title {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.digest-list-post {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.digest-list-sense {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
}

/*===== footer =====*/

.crypt {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-accent {
    color: #f4f4fd;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    max-width: 264px;
}

.container-text {
    display: flex;
    max-width: 264px;
}

.footer-logo-text {
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}